.dealer{
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    background-color: red;
}

.player{
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    background-color: green;
    margin-bottom: 10px;
}

.dealerCoveredCard{
    margin: 10px;
}

.dealerShowCard{
    margin: 10px;
}

.playerCardOne {
    margin: 10px;
}

.playerCardTwo {
    margin: 10px;
}

#doubleDownButton, #splitButton, #standButton, #hitButton{
    display: none;
}